.inputCommon {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.inputCommon:active,
.inputCommon:focus {
   outline: none;
 }

.inputCommon::first-line {
   font-size: 16px;
}

.inputCommon:-webkit-autofill {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 100px white inset;
  caret-color: black;
  transition: background-color 5000s ease-in-out 0s;
}

.inputLight {
  composes: inputCommon;
  background-color: white;
  color: black;
}
