.sliderWithRenderPropLogic {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  -webkit-overflow-scrolling: touch;
  align-items: center;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sliderWithRenderPropLogic::-webkit-scrollbar {
 display: none;
}

.slide {
  height: 100%;
  flex: 0 0 100%;
  scroll-snap-align: start;
}
